.nes-container{
    height: 100%;
    width: 100%;
    overflow: auto;
    overflow-x: hidden;
    margin-top: 0%;

}
.message-list{
    justify-content: start;
    height: 75%;
    width: 100%; 
    max-width: 100vw;
    position: relative;
    overflow: auto;
    overflow-x: hidden;
    border: 6px solid black;

    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
}