.nes-container{
    height: 100%;
    width: 100%;
    overflow: auto;
    overflow-x: hidden;
    margin-top: 0%;

}
.message-list{
    height: 75%;
    width: 100%; 

    position: relative;
    overflow: auto;
    overflow-x: hidden;
    border: 6px solid black;
    align-items: center;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
}