.message{

    width: fit-content;
    max-width: 600px;
    margin-bottom: 5%;
}
.balloon{
    border: 5px solid black;
    border-radius: 20px;
    padding: 10px;

    line-break: anywhere;   
    max-width: 600px;
}