.contenedor-barra-busqueda{
    background-color: white;
    height: fit-content;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.boton-busqueda{
    /* color  */
    background-color: white;  

    /* Radio de los bordes */
    border-bottom-left-radius: 0%;
    border-top-left-radius: 0%;
    border-bottom-right-radius: 50%;
    border-top-right-radius: 50%;

    /* Estilo de bordes */
    border-left: 0px ;
    border-right: 2px solid rgb(80, 75, 75);
    border-top: 2px solid rgb(80, 75, 75);
    border-bottom: 2px solid rgb(80, 75, 75);

    /* **** Hechar un ojo **** */
    margin-left: -5%;
}

.boton-mas{
    background-color: white;
    color: black ;
    border: 0px;

}

.boton-Contactos{
    background-color: white;
    color: black ;
    border: 0px;
}
.boton-Contactos:hover{
    background-color: black;
}  
.boton-atras-busqueda{
    background-color: white;
    color: black ;
    border: 0px;

}  
/* barra de búsqueda */
.me-2{
    /* Forma redonda de la barra de búsqueda */
    border-bottom-left-radius: 40px;
    border-top-left-radius: 40px;

    /* Tamaños */
    font-size: xx-small;
    width: 60%;


    /* Estilo de bordes */
    border-right: 0px;
    border-left: 2px solid rgb(80, 75, 75);
    border-top: 2px solid rgb(80, 75, 75);
    border-bottom: 2px solid rgb(80, 75, 75);
}

.me-2::placeholder{

    /* Color placeholder */
    color: gray;

    /* Tamaño de fuente y sangría */
    font-size: xx-small;
    text-indent: 0%;
}


.d-flex {
    /*  margenes barra de búsqueda y bótones*/
    margin-top: 2%;
    margin-left: 1%;
    margin-bottom: 2%;

    /* Eliminar Borde  */
    border: 0px;
    
    /* Ordenar Botones */
    display: flex;
    justify-content: flex-start;
}

.modal-addContact{
    max-width: fit-content;
    height: fit-content;
    margin-left: 35%;
    margin-top: 10%;
    border-radius: 50px;
    
}

.submitContactButton{
    display: flex;
    justify-content: space-evenly;
}