.caja-chat{

    /* Posición caja de chat */
    display: flex;
    margin: 1%;

    border-radius: 10px;
    height: 5vw;

}
.seleccionar-chat{

    width: 100%;
    background-color: white;
    color: black ;
    border: 1px solid #B8B8B8;
    padding: 0%;    
    border-radius: 0%;


}   
.foto-perfil-chat{

    /* Color Borde foto Perfil */
    background-color: lightskyblue;

    /* Tamaño foto Perfil */
    max-width: 5vw;
    max-height: 5vw;

    /* Forma de la imagen */
    border-radius: 50%;


    /* Acomodo de imagen */
    padding: 2%;    
}

.contenedor-texto{
    border-radius: 10px;
}

.contenedor-nombre-fecha{
    margin-top: 1.1%;
    display: flex;
    justify-content: space-between;

    
    /* ****ARREGLAR**** */
    width: 18vw;
}

.texto-nombre{
    text-align: left;
    font-size: x-small;
    
    /* Flujo de texto */
    text-overflow: ellipsis;
    overflow: hidden;
    width: 14vw;
    height: 1vw;
}

.texto-fecha{
    text-align: right;
    font-size: xx-small;

}
.texto-cuerpo{
    margin-top: 5%;
    text-align: left;
    margin-left: 5%;
    font-size: xx-small;
    text-indent: 10%;
    

    /* Flujo de texto */
    text-overflow: ellipsis;
    overflow: hidden;

    /* *****ARREGLAR***** */
    height: 2vw;
}
