.caja-chats{
  display: block;
  background-color: white;
  width: 25%; 
  height: 100%;
  
}

/* Contenedor de la barra de busqueda y sus botones */
.contenedor-busqueda {
    /* Border  */
    border: 2px solid #B8B8B8;

    /* Colores */
    background-color: white;
    
    /* Tamaño */


}
.contenedor-mensajes{

  border-top-color: white;
  background-color: white;

  /* ********ARREGLAR******* */
  border-right: 2px solid #D9D9D9;
  height: 100%;
  

  /* tipo ScrollBar */
  overflow: auto;
  overflow-x: hidden;

}

/* Estilos ScrollBar */
::-webkit-scrollbar{
  width: 8px;
}

::-webkit-scrollbar-track {
  background-color: aliceblue;
  
}
 

::-webkit-scrollbar-thumb {
  background: #555; 
  border-radius: 100px;
  background: lightblue; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(30, 114, 134); 
  border-radius: 100px;
}