
.navbar-component{
    border: 4px solid black              ;
    justify-content: space-between;
    width: 100%;
    background-color: #f8f9fa;

}
li,a,button{
    font-weight: 600;
}
.imglogo{
    /* margin-right: 150px; */
    width:250px;
    height:65px;

}
.container-navbar{
    background-color:#f8f9fa;
}

.imgUser{
    width: 50px;
    height:50px;
    margin-right: 12px;
    border-radius: 50%;
}
.container-navbar{
    width: inherit;
    background-color: #f8f9fa;
    

}

.statusOnline{
    color: blue;
}
.statusOffline{
    color:red;
}
.statusOnline:hover{
    color:lightseagreen;
}