@font-face {
    font-family: Kongtext;
    src: url(kongtext.ttf);
}

html *
{
    font-family: Kongtext, sans-serif;
}
body{
   background-image: url('./Images/background.png');
    background-repeat: no-repeat;
    background-attachment: fixed; 
    background-size: 100% 100%;
}
p{
    font-size: 1em;
}

input {
    font-size: 12px;
}

h1{
    font-size: 2em;
}
h2{
    font-size: 1.5em;
}
h3{
    font-size: 1.17em;
}
h4{
    font-size: 1em;
}
h5{
    font-size: .83em;
}
h6{
    font-size: .67em;
}