*{
    
}
.contact_div{
    display: -webkit-box; /*box para vertical*/
    justify-content: left;
    
}



.contact_img{
    width: 100px;
    height:100px;
    margin-right: 12px;
    border-radius: 50%;
}

.contact_menu{
    display: grid; /*box para vertical*/
    justify-items: center;
}